*{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  color:steelblue;
}

.flex-container{
  width: 600px;
  height: 300px;
  background: lightblue;
  margin: auto;
  display:flex;
  /*flex-direction: column;*/
  justify-content: space-around;
  align-items: baseline;
}

.flex-item{
  background: tomato;
  width: 100px;
  height: 100px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.flex-item:nth-child(odd){
  background: teal;
  font-size: 3em;
}


footer{
  padding: 3em;
  text-align: center;
}
